body {
    font-family: Arial, sans-serif;
}

form {
    max-width: 300px;
    margin: auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

input {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
